
/* Modal overlay */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
    z-index: 1000;
}

.modal.show {
    opacity: 1;
    pointer-events: all;
}

.modal-content {
    font-family: 'Montserrat';
    background-color: rgb(0, 0, 0);
    color: rgb(229, 229, 229);
    padding: 30px 40px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    position: relative;
}

.modal-content h2 {
    margin: 0 0 10px;
    color: rgb(255, 255, 255);
}
.modal-content hp {
    margin: 0 0 10px;
    color: rgb(255, 255, 255);
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(146, 146, 146);
}

.modal-close:hover {
    color: rgb(255, 255, 255);
}
