form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 0, 0);
}
