@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

pre {
    overflow: hidden;
    font-size: .75em;
}

a {
    font-weight: bold;
}

a:hover {
    background-color: rgb(22, 23, 23);
    color: rgb(0, 0, 0);
}

/* Container styling */
.container {
    max-width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-family: 'Montserrat';
    font-size: 1em;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 2em;
}

h1 {
    font-family: 'Montserrat';
    text-transform: capitalize;
}

h2 {
    font-family: 'Montserrat';
    font-size: 2.25rem;
    line-height: 1.2;
}

h3 {
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: bold;
}

/* subtitle for week content */
.subtitle {
    font-family: 'Montserrat';
    font-size: 2.75rem; /* slightly smaller than Week 1 */
    font-weight: 700;
    line-height: 1.15;
    color: rgb(255, 255, 255);
}
p {
    font-size: 1.125rem;
    line-height: 1.6;
    margin-top: 1em;
}
 